@model FarmMartUI.Models.HomeViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Controller = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section scripts{
    <script>
            @*$('a[name="Pharvest"]').click(function () {
                var id = $(this).attr('data-id');

                $.ajax({
                    url: "@Url.Action("CropHarvest", "FarmCrop")",
                    data: { farmcropId: id },
                    datatype: "html",
                    type: "POST",
                    success: function (data) {
                        var html = data
                        $("#HarvestContainer").html(data);
                    },
                    error: function () {
                        alert("An error occured");
                    }
                });
            });*@

    </script>
}

<div class="container">
    <div class="col-md-12">
        <div class="box">
            <h1>@Model.ThisFarm.FarmName</h1>

            @if (Model.ThisFarm.IsVerified)
            {
                <p class="lead">This farm has been verified</p>

            }
            else
            {
                <p class="lead">This farm has not been verified, we advice not to do business with this farm.</p>
            }

            <p class="text-muted">
                Availabel crops in @Model.ThisFarm.FarmName <a href="@Url.Action("Contact","Home")">Contact this farm</a>
            </p>
            <p>This is farm is @Model.ThisFarm.Size of Land</p>
        </div>
    </div>
</div>

<div class="container">

    <div class="col-md-12" id="customer-orders">
        <div class="box">
            <h4>Crops in this Farm</h4>
            <hr>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Image</th>
                            <th>Crop</th>
                            <th>Crop Type</th>
                            <th>Crop Variety</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody style="overflow-y:auto; height:200px">
                       
                        @if (Model.FarmCrops.Any())
                        {
                            var count = 0;
                            foreach (var fc in Model.FarmCrops.OrderBy(x => x.CropVariety.Name))
                            {
                                count++;
                        <tr>
                            <th>@count</th>
                            @if (!string.IsNullOrEmpty(fc.CropVariety.PhotoPath))
                            {
                                <td> <img src="~/CropProfile/@fc.CropVariety.PhotoPath" /></td>
                            }
                            else
                            {
                                <td> <img src="~/Front/img/fm.jpg" /></td>
                            }
                            <td>@fc.CropVariety.Crop.Name</td>
                            <td>@fc.CropVariety.Crop.CropType.Name</td>
                            <td>@fc.CropVariety.Name</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm">You Can</button>
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="@Url.Action("Details","Planting", new { farmCropId = fc.Id})" name="Pharvest" data-id="@fc.Id">Planting Details</a></li>
                                        @*<li><a name="FarmCr" data-id="@fc.Id">Plant</a></li>*@
                                        <li><a href="@Url.Action("Details","Crop", new { farmCropId = fc.Id })">Compare Prices</a></li>
                                        <li><a href="@Url.Action("SendMessage", "Messaging", new { messageRecipientId = fc.Farm.ApplicationUserId})">Message Farmer</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                            }

                        }
                        else
                        {
                            <tr>
                                <td>
                                    <p>Crops are not available in this farm</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-12" id="customer-orders">
        <div class="box">
            <h4>Livestock in this Farm</h4>
            <hr>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Image</th>
                            <th>Livestock</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    @if (Model.FarmLivestocks.Any())
                    {
                        var count = 0;
                        <tbody style="overflow-y:auto; height:200px">
                            @foreach (var fc in Model.FarmLivestocks)
                            {
                                count++;
                                <tr>
                                    <th>@count</th>
                                    @if (!string.IsNullOrEmpty(fc.Livestock.PhotoPath))
                                    {
                                        <td> <img src="~/LivestockProfile/@fc.Livestock.PhotoPath" /></td>
                                    }
                                    else
                                    {
                                        <td> <img src="~/Front/img/fm.jpg" /></td>
                                    }
                                    <td>@fc.Livestock.Name</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-sm">You Can</button>
                                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                     <li><a href="@Url.Action("PriceDetail","Livestock", new { farmLivestockId = fc.Id })">View Price Details</a></li>
                                                <li><a href="#" name="Pharvest" data-id="@fc.Id">Message Farmer</a></li>

                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
