@model FarmMartUI.Areas.Farmer.Models.FarmCropViewModel

<div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody style="overflow-y:auto; height:200px">
            @if (!Model.FarmCropList.Any())
            {
                <tr>
                    <td></td>
                    <td>
                        <p>No crop is added to this farm, click @Html.ActionLink("Here", "AddFarmCrop", null, new { farmId = Model.FarmId },null) to add.</p>
                    </td>
                </tr>

            }
            else
            {
                foreach (var f in Model.FarmCropList)
                {
                    <tr>
                        <td style="width: 10px">#</td>
                        <td>@f.CropVariety.Name</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger">Actions</button>
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("AddCropPrice","Crop", new { farmCropId = f.Id, farmId = f.FarmId})">Add Pricing</a></li>
                                    <li><a href="@Url.Action("PlantCrop","Crop",  new {farmCropId = f.Id})" name="FarmCr" data-id="@f.Id">Plant</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>


    </table>

</div><!-- /.box-body -->
